---
# https://music-assistant.io/installation/

- name: Make sure the {{ container_name }} container is created and running
  become: yes
  docker_container:
    name: "{{ container_name }}"
    image: "ghcr.io/music-assistant/server"
    capabilities:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opts:
      - apparmor:unconfined
    network_mode: host
    devices:
      - "/dev/ttyUSB1:/dev/zigbee"
      - "/dev/ttyUSB0:/dev/zwave"
    pull: yes
    state: 'started'
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
      LOG_LEVEL: 'info'
    volumes:
      - "{{ config_root }}/music_assistant_config:/data"
      - "{{ data_root }}/media:/media"
    restart_policy: unless-stopped

# services:
#   music-assistant-server:
#     # image: ghcr.io/music-assistant/server:latest # <<< Desired release version here (or use beta to get the latest beta version)
#     # container_name: music-assistant-server
#     # restart: unless-stopped
#     # Network mode must be set to host for MA to work correctly
#     # network_mode: host
#     volumes:
#       - ${USERDIR:-$HOME}/docker/music-assistant-server/data:/data/
#     # privileged caps (and security-opt) needed to mount smb folders within the container
#     cap_add:
#       - SYS_ADMIN
#       - DAC_READ_SEARCH
#     security_opt:
#       - apparmor:unconfined
#     environment:
#       # Provide logging level as environment variable.
#       # default=info, possible=(critical, error, warning, info, debug)
#       - LOG_LEVEL=info