---
- name: Make sure the sonarr container is created and running
  docker_container:
    image: "ghcr.io/linuxserver/sonarr"
    name: sonarr
    networks:
      - name: media_network
    ports:
      - 8989:8989
    pull: yes
    state: 'started'
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ config_root }}/sonarr_config:/config"
      - "{{ data_root }}/media:/media"
      - "{{ data_root }}/transmission/data/completed:/data/completed"
      - "{{ data_root }}/qbittorrent/downloads:/data/qbit_completed"
      - "{{ data_root }}/qbittorrent/downloads:/config/qBittorrent/downloads"
    restart_policy: unless-stopped
