---
- name: Make sure the neolink container is created and running
  docker_container:
    image: "thirtythreeforty/neolink:latest"
    name: neolink
    ports:
      - 8554:8554
    state: 'started'
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ config_root }}/neolink_config/neolink.toml:/etc/neolink.toml"
    restart_policy: unless-stopped

    # does this offer an image url?
    
    # I expose the E1 as garage and can hit it with: 
    # rtsp://192.168.1.36:8554/garage 
    # rtsp://192.168.1.36:8554/garage/subStream 
    # rtsp://192.168.1.36:8554/garage/mainStream

    # Can configure user and password.

# Neolink converts reolink stream from Baichuan Protocol to a regular rtsp stream. I need it for my E1 in home assistant.
# https://github.com/thirtythreeforty/neolink/#configuration
# https://github.com/thirtythreeforty/neolink/blob/master/docs/Setting%20Up%20Neolink%20For%20Use%20With%20Blue%20Iris.md
# https://www.thirtythreeforty.net/posts/2020/05/hacking-reolink-cameras-for-fun-and-profit/