---
- name: Make sure the vaultwarden container is created and running
  docker_container:
    image: "vaultwarden/server:latest"
    name: "vaultwarden"
    ports:
      - 8087:80
    state: 'started'
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
      WEBSOCKET_ENABLED: "true" # Enable WebSocket notifications.
    volumes:
      - "{{ config_root }}/vw_data:/data"
    restart_policy: unless-stopped
    labels:
      traefik.enable: "true"
      traefik.http.routers.vaultwarden.entrypoints: "http"
      traefik.http.routers.vaultwarden.rule: "Host(`vaultwarden.coulter.rocks`)||Host(`vaultwarden-in.coulter.rocks`)"
      traefik.http.middlewares.vaultwarden-https-redirect.redirectscheme.scheme: "https"
      traefik.http.routers.vaultwarden.middlewares: "vaultwarden-https-redirect"
      traefik.http.routers.vaultwarden-secure.entrypoints: "https"
      traefik.http.routers.vaultwarden-secure.rule: "Host(`vaultwarden.coulter.rocks`)||Host(`vaultwarden-in.coulter.rocks`)"
      traefik.http.routers.vaultwarden-secure.tls: "true"
      traefik.http.routers.vaultwarden-secure.service: "vaultwarden"
      traefik.http.services.vaultwarden.loadbalancer.server.url: "http://vault.local:8087"
    networks:
      - name: proxy
