http:
  routers:
    collabora:
      entryPoints:
        - "https"
      rule: "Host(`{{ collabora_domain }}`)"
      service: "collabora"
      tls:
        certResolver: "cloudflare"
      middlewares:
        - "collabora-secure-headers"

    collabora-websocket:
      entryPoints:
        - "https"
      rule: "Host(`{{ collabora_domain }}`)"
      service: "collabora"
      tls:
        certResolver: "cloudflare"
      middlewares:
        - "collabora-websocket"
        - "collabora-secure-headers"

  services:
    collabora:
      loadBalancer:
        servers:
          - url: "http://{{ collabora_container_name }}:9980"
        passHostHeader: true

  middlewares:
    collabora-secure-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        contentTypeNosniff: true
    collabora-strip-prefix:
      stripPrefix:
        prefixes:
          - "/cool"
    collabora-websocket:
      headers:
        customRequestHeaders:
          Connection: "Upgrade"
          Upgrade: "websocket"
        customResponseHeaders:
          Connection: "Upgrade"
          Upgrade: "websocket"