---
- name: Make sure the lidarr container is created and running
  docker_container:
    image: "ghcr.io/linuxserver/lidarr:latest"
    name: lidarr
    networks:
      - name: media_network
    dns_servers:
      - "1.1.1.1"  # Cloudflare DNS
      - "8.8.8.8"  # Google DNS
    ports:
      - 8686:8686
    pull: yes
    state: started
    recreate: yes
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
      HTTP_USER_AGENT: "Lidarr/3.0.1 (homelab)"
    volumes:
      - "{{ config_root }}/lidarr_config:/config"
      - "{{ data_root }}/media/music:/music"
      - "{{ data_root }}/transmission/data/completed:/data/completed"
    restart_policy: unless-stopped
