---
- name: Make sure the bazarr container is created and running
  docker_container:
    image: "ghcr.io/linuxserver/bazarr"
    name: bazarr
    networks:
      - name: media_network
    ports:
      - 6767:6767
    pull: yes
    state: 'started'
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ config_root }}/bazarr_config:/config"
      - "{{ data_root }}/media:/media"
    restart_policy: unless-stopped