---
#initial_setup.yml
#  inspiration: 
#    https://www.digitalocean.com/community/tutorials/how-to-use-ansible-to-automate-initial-server-setup-on-ubuntu-20-04
#
#  1. define server1 in /etc/ansible/hosts
#  2. define created_username on line 5
#  
#  call: 
#  ```
#    ansible-playbook initial_setup.yml -u <ssh_user> -kK
#  ```
#
#    `-k` allows ssh password
#    `-K` allows sudo password

- name: Install aptitude
  apt:
    name: aptitude
    state: latest
    update_cache: true

- name: Setup passwordless sudo
  lineinfile:
    path: /etc/sudoers
    state: present
    regexp: '^%sudo'
    line: '%sudo ALL=(ALL) NOPASSWD: ALL'
    validate: '/usr/sbin/visudo -cf %s'

- name: Create a new regular user with sudo privileges
  user:
    name: "{{ created_username }}"
    state: present
    groups: sudo
    append: true
    create_home: true

- name: Set authorized key for remote user
  ansible.posix.authorized_key:
    user: "{{ created_username }}"
    state: present
    key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"

# This is what kills my omv login
# - name: Disable password authentication for root
#   lineinfile:
#     path: /etc/ssh/sshd_config
#     state: present
#     regexp: '^#?PermitRootLogin'
#     line: 'PermitRootLogin prohibit-password'

- name: Update apt and install required system packages
  apt:
    pkg:
      - curl
      - vim
      - git
      # - ufw
    state: latest
    update_cache: true

#  Firewall should not be controlled by ansible for omv
# - name: UFW - Allow SSH connections
#   community.general.ufw:
#     rule: allow
#     name: OpenSSH

# - name: UFW - Enable and deny by default
#   community.general.ufw:
#     state: enabled
#     default: deny
