---
- name: Make sure the audiobookshelf container is created and running
  docker_container:
    image: ghcr.io/advplyr/audiobookshelf:latest
    name: audiobookshelf
    networks:
      - name: proxy
    ports:
      - "13378:80"
    pull: yes
    state: 'started'
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
      AUDIOBOOKSHELF_UID: "99"
      AUDIOBOOKSHELF_GID: "100"
    labels:
      traefik.enable: "true"
      traefik.http.routers.audiobookshelf.entrypoints: "http"
      traefik.http.routers.audiobookshelf.rule: "Host(`audiobooks.coulter.rocks`)||Host(`audiobooks-in.coulter.rocks`)"
      traefik.http.middlewares.audiobookshelf-https-redirect.redirectscheme.scheme: "https"
      traefik.http.routers.audiobookshelf.middlewares: "audiobookshelf-https-redirect"
      traefik.http.routers.audiobookshelf-secure.entrypoints: "https"
      traefik.http.routers.audiobookshelf-secure.rule: "Host(`audiobooks.coulter.rocks`)||Host(`audiobooks-in.coulter.rocks`)"
      traefik.http.routers.audiobookshelf-secure.tls: "true"
      traefik.http.routers.audiobookshelf-secure.service: "audiobookshelf"
      traefik.http.services.audiobookshelf.loadbalancer.server.url: "http://vault.local:13378"
      traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto: "https" 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ config_root }}/audiobookshelf_config:/config"
      - "{{ config_root }}/audiobookshelf_metadata:/metadata"
      - "{{ data_root }}/media:/media"
    restart_policy: unless-stopped
