---
- name: Make sure the {{ config_root }}  portainer container is created and running
  docker_container:
    image: portainer/portainer-ce
    name: portainer
    networks:
      - name: media_network
    ports:
      - "8000:8000"
      - "9000:9000"
    pull: yes
    state: 'started'
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # TODO: figure out how to handle this by server rather than hack it with a comment.
      # For forger, the data dir won't mount so comment this out
      # - "{{ config_root }}/portainer_data:/data"
    restart_policy: unless-stopped
    recreate: yes


