---
- name: Make sure the prowlarr container is created and running
  docker_container:
    image: "ghcr.io/linuxserver/prowlarr:develop"
    name: prowlarr
    networks:
      - name: media_network
    dns_servers:
      - "1.1.1.1"  # Cloudflare DNS
      - "8.8.8.8"  # Google DNS
    ports:
      - 9696:9696
    pull: yes
    state: started
    recreate: yes
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ config_root }}/prowlarr_config:/config"
    restart_policy: unless-stopped
